@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  &::after {
    animation: spinAround 0.5s infinite linear;
    border: 8px solid hsl(0deg 0% 85.9%);
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: '';
    height: 20em;
    max-height: 40vw;
    max-width: 40vw;
    opacity: 50%;
    width: 20em;
  }
}
