.root {
  height: 108px;
  min-width: 108px;
  width: 108px;
}

.input {
  opacity: 0%;
}

.empty {
  align-items: flex-end !important;
  background-color: var(--primary-color) !important;
  background-image: url(./addpicture.svg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 60px !important;
  color: hsl(0deg 0% 100%) !important;
  display: flex !important;
  height: 6.75em !important;
  width: 6.75em !important;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.removeButton {
  background-color: transparent;
  background-image: url(./cross.svg) !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  border-color: transparent;
  border-radius: 0;
  position: absolute;
  right: 5px;
  top: 5px;
}

.rounded {
  border-radius: 11px !important;
}

.image {
  height: 100% !important;
  object-fit: cover;
}
