.root {
  position: relative;
}

.buttons {
  position: absolute;
  right: 0;
}

.hidden {
  border: none;
  height: 0;
  opacity: 0%;
  pointer-events: none;
  position: fixed;
  width: 0;
}

.pre {
  overflow-x: auto;
}
