.dotContainer {
  position: fixed;
  right: 0;
  z-index: 1000;
}

.dot {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  height: 10px;
  opacity: 20%;
  width: 10px;
}

.dot.previous {
  opacity: 50%;
}

.dot.active {
  opacity: 100%;
}
